<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<div th:replace="fragments :: head"></div>
	<title>Best of 2021</title>
</head>

<body>
	<nav th:replace="fragments :: nav"></nav>
	<div class="container-fluid text-center">
		<h1 th:replace="fragments :: title"></h1>
	<div class="row justify-content-center">
		<div class="col-9 col-sm-5">
			<img alt="img" th:src="@{/img/2021.jpg}" class="img-fluid w-20">
			<p class="w-20">Praesent tortor dolor, rutrum at velit in, lacinia vulputate sapien. Aenean porttitor sit amet velit sed feugiat. Cras rhoncus orci id mauris hendrerit, ac vehicula ante consequat. Aliquam rutrum accumsan pharetra. Praesent vitae est ac ante pellentesque finibus. Suspendisse enim est, molestie vitae mauris at, auctor aliquam augue. Proin tempor varius purus, nec tristique felis eleifend congue. Cras porttitor lobortis justo, sit amet tempus libero. Curabitur non lorem eget ligula fringilla aliquet ut in sem. Pellentesque hendrerit purus at dolor feugiat, sed luctus neque consequat. Sed dignissim sem dui, nec pharetra tellus consequat et. Interdum et malesuada fames ac ante ipsum primis in faucibus. Praesent suscipit sapien vitae ipsum luctus venenatis
			Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque vulputate ac libero in euismod. Cras at maximus eros. Praesent luctus, risus nec bibendum vestibulum, arcu sapien pharetra odio, id imperdiet quam lectus a quam. Curabitur a tristique metus. Integer vehicula eros eu semper laoreet. Mauris in sodales lacus. Phasellus aliquet, nisl sit amet condimentum pretium, nisi tellus aliquet tellus, convallis condimentum lacus nibh id urna. Suspendisse eget orci varius, tincidunt neque a, aliquet arcu. Sed id malesuada ipsum. In in rutrum nibh, quis dignissim dolor. Nulla interdum sagittis tellus, quis molestie elit mollis mattis. Ut mattis nulla erat, eget dictum ex sagittis eu. Mauris sit amet sapien risus. Suspendisse consequat nulla sit amet dolor tincidunt, vel aliquet dolor blandit. Donec condimentum tempus leo, vel molestie sem imperdiet sed.

			</p>
		</div>
	</div>
	</div>
	<div th:replace="fragments :: scripts"></div>
</body>

</html>